<head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>Essential JS 2 for Badge </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Essential JS 2 for Badge UI Control" />
    <meta name="author" content="Syncfusion" />
    <link href="index.css" rel="stylesheet" />
    <link href="//cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />
    <link href="//cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />
    <link href="//cdn.syncfusion.com/ej2/ej2-notifications/styles/material.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.38/system.js"></script>
    <script src="systemjs.config.js"></script>
</head>

<div id="main">
  <div id="left">

    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <button id="filter" class="btn btn-default" data-toggle="collapse" data-target="#collapsePanel">
          More filters <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <br/>
      <div class="collapse" id="collapsePanel">
        <%= search_form_for @search, url: search_path do |f| %>
          <div class="row">
            <div class="col-md-8">
              <label>Price range:</label>
              <div id="slider-range"></div>
            </div>
            <div class="col-md-2">
              <label>Min Price:</label>
              <%= f.text_field :price_gteq, class: "form-control" %>
            </div>

            <div class="col-md-2">
              <label>Max Price:</label>
              <%= f.text_field :price_lteq, class: "form-control" %>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-8">
              <label>Date:</label>
            </div>
            <div class="col-md-6">
              <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>
            </div>
            <div class="col-md-6">
              <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: "End Date", class: "form-control datepicker" %>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <label>Type:</label>
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[plus_eq_any][]", 1 %> Plus
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[primary_host_is_superhost_any][]", 1 %> Superhost
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group select">
                <label>Accommodate</label>
                <%= f.select :accommodate_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], id: "accommodate", prompt: "Select...", class: "form-control" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group select">
                <label>Bedrooms</label>
                <%= f.select :bed_room_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], id: "bed_room", prompt: "Select...", class: "form-control" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group select">
                <label>Beds</label>
                <%= f.select :bed_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], id: "bed", prompt: "Select...", class: "form-control" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group select">
                <label>Bathrooms</label>
                <%= f.select :bath_room_gteq, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], id: "bath_rooms", prompt: "Select...", class: "form-control" %>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <label>Amenities</label>
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_wifi_eq]", true %> Wifi or internet
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_tv_eq]", true %> TV
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_dryer_eq]", true %> Dryer
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_heating_eq]", true %> Heating
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_kitchen_eq]", 1 %> Kitchen
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_co_eq]", true %> Carbon monoxide detector
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_parking_eq]", 1 %> Parking
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[is_elevator_eq]", 1 %> Elevator
            </div>
          </div>
          <hr/>

          <div class="row">
            <div class="row text-center">
              <%= f.submit "Search", class: "btn btn-form" %>
            </div>
          </div>
          <hr/>
    </div>
    <%= paginate @rooms %>
    <div class="row">
      <%= render partial: "rooms/room_search_list", locals: {rooms: @arrRooms} %>
    </div>
  <% end %>
  </div>

  <div id="right">
    <div id="map" style="width: 100%; height: 100%"></div>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
          var location = {lat: 45.502141, lng: -73.577029}

          <% if @arrRooms.length > 0 %>
            location = {lat: <%= @arrRooms[0].latitude %>, lng: <%= @arrRooms[0].longitude %>}
          <% end %>

          var map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 14
          });

          <% @arrRooms.each do |room| %>
            var marker = new google.maps.Marker({
              position: {lat: <%= room.latitude %>, lng: <%= room.longitude %>},
              map: map
            });

            var infowindow = new google.maps.InfoWindow({
              content: "<div class='map_price'>$" + <%= room.price %> + "</div>"
            });

            infowindow.open(map, marker);
          <% end %>
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
</script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function() {
    $("#q_price_gteq").val('10');
    $("#q_price_lteq").val('500');

    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 1000,
      values: [100, 500],
      slide: function(event, ui) {
        $("#q_price_gteq").val(ui.values[0]);
        $("#q_price_lteq").val(ui.values[1]);
      }
    });
    $(".ui-widget-header").css('background', '#FF5A5F');
    $(".ui-state-default, .ui-widget-content").css('background', 'white');
    $(".ui-state-default, .ui-widget-content").css('border-color', '#484848');
  });
</script>
